* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: small;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
main,
section ul li {
  display: flex;
  align-items: center;
}

body {
  height: 100svh;
  flex-direction: column;
  justify-content: center;
  background: hsl(235, 18%, 26%);
}

main {
  max-width: 630px;
  padding: 1rem;
  border-radius: 16px;
  background: hsl(0, 0%, 100%);
}

header img {
  max-width: 250px;
  max-height: 350px;
}

section {
  display: grid;
  align-content: space-between;
  padding: 2rem 2.5rem;
  gap: 1rem;

  h1 {
    font-size: 40px;
    color: hsl(234, 29%, 20%);
  }

  ul {
    list-style: none inside;
  }

  li {
    gap: 0.75rem;
    margin-bottom: 0.5rem;

    img {
      height: 16px;
    }
  }

  label {
    font-weight: 700;
  }

  input {
    height: 3rem;
    max-width: 88%;
    cursor: pointer;
    padding-inline: 1rem;
    border-radius: 6px;
    border: 1px solid hsl(0, 0%, 58%);
  }

  .button {
    border: 0;
    color: hsl(0, 0%, 100%);
    background: hsl(234, 29%, 20%);
  }

  .button:hover {
    background: hsl(4, 100%, 67%);
    box-shadow: 4px 4px 16px hsl(4, 100%, 67%);
  }
}

.attribution {
  margin-top: 2rem;
  color: hsl(0, 0%, 100%);
  a {
    color: rgb(189, 173, 173);
  }
}
