.success {
  max-height: 70svh;
  max-width: 333px;
  border-radius: 1rem;
  background: hsl(0, 0%, 100%);

  img {
    height: 36px;
  }
  h1 {
    line-height: 2.5rem;
  }
  p {
    margin-block: 0.75rem;
  }
  .button {
    max-width: 100%;
  }
}

/*email validation*/
.input-field {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.error-message {
  color: red;
  float: right;
  font-size: 0.9em;
  display: none;
}

.error-message.show {
  display: inline;
}

.subscriber-email {
  color: hsl(251, 38%, 53%);
}
